main {
    /* Layout Flex*/
    display: flex;
    /* Centralizando horizontalmente */
    flex-direction: column;
    justify-content: center; 
    /* Centralizando verticalmente */
    height: 90vh;
    align-items: center;
    /* Retirando margem e preenchimento padrão */
    margin: 0;
    padding: 0;
    /* Cor e familia da fonte */
    color: #888;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #555;
}

h3 {
    color: #777;
}

form {
    background-color: #dedede;
    border: 1px solid #cacaca;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem; /* top/botton left/right*/

    width: 60%;
}

article {
    width: 60%;
}